<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.auth.dao.OauthClientTokenDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wisdom.auth.entity.OauthClientToken">
        <id column="ID" property="id"/>
        <!-- 生成公共普通字段 -->
        <result column="CREATE_DATE_TIME" property="createDateTime"/>
        <result column="CREATE_ID" property="createId"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REMARK" property="remark"/>
        <result column="UP_DATE_TIME" property="upDateTime"/>
        <result column="UPDATE_ID" property="updateId"/>
        <result column="VERSION" property="version"/>
        <!-- 生成普通字段 -->
        <result column="AUTHENTICATION_ID" property="authenticationId"/>
        <result column="CLIENT_ID" property="clientId"/>
        <result column="TOKEN" property="token" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="TOKEN_ID" property="tokenId"/>
        <result column="USER_NAME" property="userName"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        CREATE_DATE_TIME,
        CREATE_ID,
        DEL_FLAG,
        REMARK,
        UP_DATE_TIME,
        UPDATE_ID,
        VERSION,
        AUTHENTICATION_ID, CLIENT_ID, TOKEN, TOKEN_ID, USER_NAME
    </sql>
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <!-- 生成公共字段 -->
            <if test="id != null">and ID=#{id}</if>
            <if test="createDateTime != null">and CREATE_DATE_TIME=#{createDateTime}</if>
            <if test="createId != null">and CREATE_ID=#{createId}</if>
            <if test="delFlag != null">and DEL_FLAG=#{delFlag}</if>
            <if test="remark != null">and REMARK=#{remark}</if>
            <if test="upDateTime != null">and UP_DATE_TIME=#{upDateTime}</if>
            <if test="updateId != null">and UPDATE_ID=#{updateId}</if>
            <if test="version != null">and VERSION=#{version}</if>
            <!-- 生成普通字段 -->
            <if test="authenticationId != null">and AUTHENTICATION_ID=#{authenticationId}</if>
            <if test="clientId != null">and CLIENT_ID=#{clientId}</if>
            <if test="token != null">and TOKEN=#{token}</if>
            <if test="tokenId != null">and TOKEN_ID=#{tokenId}</if>
            <if test="userName != null">and USER_NAME=#{userName}</if>
        </trim>
    </sql>

    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from oauth_client_token
        <include refid="searchBy"/>
    </select>
</mapper>
