<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.auth.dao.OauthApprovalsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wisdom.auth.entity.OauthApprovals">
        <id column="ID" property="id"/>
        <!-- 生成公共普通字段 -->
        <result column="CREATE_DATE_TIME" property="createDateTime"/>
        <result column="CREATE_ID" property="createId"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REMARK" property="remark"/>
        <result column="UP_DATE_TIME" property="upDateTime"/>
        <result column="UPDATE_ID" property="updateId"/>
        <result column="VERSION" property="version"/>
        <!-- 生成普通字段 -->
        <result column="CLIENT_ID" property="clientId"/>
        <result column="EXPIRES_AT" property="expiresAt"/>
        <result column="LAST_MODIFIED_AT" property="lastModifiedAt"/>
        <result column="SCOPE" property="scope"/>
        <result column="STATUS" property="status"/>
        <result column="USER_ID" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        CREATE_DATE_TIME,
        CREATE_ID,
        DEL_FLAG,
        REMARK,
        UP_DATE_TIME,
        UPDATE_ID,
        VERSION,
        CLIENT_ID, EXPIRES_AT, LAST_MODIFIED_AT, SCOPE, STATUS, USER_ID
    </sql>
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <!-- 生成公共字段 -->
            <if test="id != null">and ID=#{id}</if>
            <if test="createDateTime != null">and CREATE_DATE_TIME=#{createDateTime}</if>
            <if test="createId != null">and CREATE_ID=#{createId}</if>
            <if test="delFlag != null">and DEL_FLAG=#{delFlag}</if>
            <if test="remark != null">and REMARK=#{remark}</if>
            <if test="upDateTime != null">and UP_DATE_TIME=#{upDateTime}</if>
            <if test="updateId != null">and UPDATE_ID=#{updateId}</if>
            <if test="version != null">and VERSION=#{version}</if>
            <!-- 生成普通字段 -->
            <if test="clientId != null">and CLIENT_ID=#{clientId}</if>
            <if test="expiresAt != null">and EXPIRES_AT=#{expiresAt}</if>
            <if test="lastModifiedAt != null">and LAST_MODIFIED_AT=#{lastModifiedAt}</if>
            <if test="scope != null">and SCOPE=#{scope}</if>
            <if test="status != null">and STATUS=#{status}</if>
            <if test="userId != null">and USER_ID=#{userId}</if>
        </trim>
    </sql>

    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from oauth_approvals
        <include refid="searchBy"/>
    </select>
</mapper>
