<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.auth.dao.SysPermissionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wisdom.auth.entity.SysPermission">
        <id column="ID" property="id"/>
        <!-- 生成公共普通字段 -->
        <result column="CREATE_DATE_TIME" property="createDateTime"/>
        <result column="CREATE_ID" property="createId"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REMARK" property="remark"/>
        <result column="UP_DATE_TIME" property="upDateTime"/>
        <result column="UPDATE_ID" property="updateId"/>
        <result column="VERSION" property="version"/>
        <!-- 生成普通字段 -->
        <result column="DESCRIPTION" property="description"/>
        <result column="NAME_CN" property="nameCn"/>
        <result column="NAME_EN" property="nameEn"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="URL" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        CREATE_DATE_TIME,
        CREATE_ID,
        DEL_FLAG,
        REMARK,
        UP_DATE_TIME,
        UPDATE_ID,
        VERSION,
        DESCRIPTION, NAME_CN, NAME_EN, PARENT_ID, URL
    </sql>
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <!-- 生成公共字段 -->
            <if test="id != null">and ID=#{id}</if>
            <if test="createDateTime != null">and CREATE_DATE_TIME=#{createDateTime}</if>
            <if test="createId != null">and CREATE_ID=#{createId}</if>
            <if test="delFlag != null">and DEL_FLAG=#{delFlag}</if>
            <if test="remark != null">and REMARK=#{remark}</if>
            <if test="upDateTime != null">and UP_DATE_TIME=#{upDateTime}</if>
            <if test="updateId != null">and UPDATE_ID=#{updateId}</if>
            <if test="version != null">and VERSION=#{version}</if>
            <!-- 生成普通字段 -->
            <if test="description != null">and DESCRIPTION=#{description}</if>
            <if test="nameCn != null">and NAME_CN=#{nameCn}</if>
            <if test="nameEn != null">and NAME_EN=#{nameEn}</if>
            <if test="parentId != null">and PARENT_ID=#{parentId}</if>
            <if test="url != null">and URL=#{url}</if>
        </trim>
    </sql>

    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        <include refid="searchBy"/>
    </select>
</mapper>
