<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.auth.dao.TestDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wisdom.auth.entity.Test">
        <id column="ID" property="id"/>
        <!-- 生成公共普通字段 -->
        <!-- 生成普通字段 -->
        <result column="CREATE_DATE_TIME" property="createDateTime"/>
        <result column="CREATE_ID" property="createId"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="REMARK" property="remark"/>
        <result column="UP_DATE_TIME" property="upDateTime"/>
        <result column="UPDATE_ID" property="updateId"/>
        <result column="VERSION" property="version"/>
        <result column="TEST_COLUMN" property="testColumn"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        , CREATE_DATE_TIME, CREATE_ID, DEL_FLAG, REMARK, UP_DATE_TIME, UPDATE_ID, VERSION, TEST_COLUMN
    </sql>
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <!-- 生成公共字段 -->
            <!-- 生成普通字段 -->
            <if test="createDateTime != null">and CREATE_DATE_TIME=#{createDateTime}</if>
            <if test="createId != null">and CREATE_ID=#{createId}</if>
            <if test="delFlag != null">and DEL_FLAG=#{delFlag}</if>
            <if test="remark != null">and REMARK=#{remark}</if>
            <if test="upDateTime != null">and UP_DATE_TIME=#{upDateTime}</if>
            <if test="updateId != null">and UPDATE_ID=#{updateId}</if>
            <if test="version != null">and VERSION=#{version}</if>
            <if test="testColumn != null">and TEST_COLUMN=#{testColumn}</if>
        </trim>
    </sql>

    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from test
        <include refid="searchBy"/>
    </select>
</mapper>
