package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Mapper;

/**
 * Copyright ©${cfg.year} dragonSaberCaptain inc. All rights reserved.
 *
 * <p>
 * $!{table.comment} 持久层
 * </p>
 *
 * @author ${author}
 * @version ${cfg.version}
 * @datetime ${cfg.createDate}
 */
@Mapper
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
