package ${package.Controller};
#set($entityPathEnd=$table.entityPath.length() - 3)
#set($controllerNameEnd=$table.controllerName.length() - 3)
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;
import ${package.Service}.${table.serviceName};
#if(${swagger2})
import io.swagger.annotations.Api;
#end
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
import ${package.Entity}.${entity};
#end
#if(${entityLombokModel})
import lombok.extern.slf4j.Slf4j;
#end
/**
 * $!{table.comment} 控制层
 *
 * @author ${author}
 * @version ${cfg.version}
 */
#if(${entityLombokModel})
@Slf4j
#end
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath.substring(0, ${entityPathEnd})}#end")
#if(${swagger2})
@Api(value = "${table.controllerName.substring(0, ${controllerNameEnd})} API", tags = "${table.name}:$!{table.comment} 相关接口")
#end
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName}, ${entity}> {
#else
public class ${table.controllerName} {
#end
    @Autowired
    private ${table.serviceName} ${table.serviceName.substring(0, 1).toLowerCase()}${table.serviceName.substring(1)};

}

#end